[workspace]
members = [
    # zkVM interface
    "crates/zkvm-interface",
    # zkVMs
    "crates/ere-sp1",
    "crates/ere-risczero", "crates/ere-openvm",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.85"
license = "MIT OR Apache-2.0"

[workspace.lints]

[workspace.dependencies]
# local dependencies
zkvm-interface = { path = "crates/zkvm-interface" }
