[workspace]
members = [
    "crates/build-utils",
    # zkVMs
    "crates/ere-jolt",
    "crates/ere-nexus",
    "crates/ere-openvm",
    "crates/ere-pico",
    "crates/ere-risc0",
    "crates/ere-sp1",
    "crates/ere-zisk",
    # zkVM interface
    "crates/zkvm-interface",
    # CLI and dockerized zkVM
    "crates/ere-cli",
    "crates/ere-dockerized",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.85"
license = "MIT OR Apache-2.0"

[workspace.lints]

[workspace.dependencies]
tracing = "0.1.41"
tempfile = "3.3"
toml = "0.8"
clap = { version = "4.5", features = ["derive"] }
anyhow = "1.0"
hex = "0.4.3"

# local dependencies
zkvm-interface = { path = "crates/zkvm-interface" }
build-utils = { path = "crates/build-utils" }
ere-cli = { path = "crates/ere-cli" }
ere-dockerized = { path = "crates/ere-dockerized" }
ere-jolt = { path = "crates/ere-jolt" }
ere-nexus = { path = "crates/ere-nexus" }
ere-openvm = { path = "crates/ere-openvm" }
ere-pico = { path = "crates/ere-pico" }
ere-risc0 = { path = "crates/ere-risc0" }
ere-sp1 = { path = "crates/ere-sp1" }
ere-zisk = { path = "crates/ere-zisk" }

[patch.crates-io]
# These patches are only needed by Jolt
ark-ff = { git = "https://github.com/a16z/arkworks-algebra", branch = "v0.5.0-optimize-mul-u64" }
ark-ec = { git = "https://github.com/a16z/arkworks-algebra", branch = "v0.5.0-optimize-mul-u64" }
ark-serialize = { git = "https://github.com/a16z/arkworks-algebra", branch = "v0.5.0-optimize-mul-u64" }
