name: Test and clippy Jolt

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    with:
      zkvm: jolt
      toolchain: 1.85.0
      test_ere_dockerized: false
      test_options: ''
