name: Test and clippy Risc0

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    with:
      zkvm: risc0
      toolchain: 1.85.0
      test_ere_dockerized: true
      test_options: ''
